.block-better-social-sharing-buttons {
  max-width: $bp-tablet;
  margin: 0 auto;

  h2 {
    text-align: center;
  }

  .social-sharing-buttons {
    align-items: flex-start;
    margin: $spacing 0 $spacing * 2;

    a {
      border: 0;
      border-radius: $spacing * 2;
      background: $color-primary;
      transition: all .3s ease-in-out;

      svg {
        fill: $white;
      }

      &:hover {
        background-color: $color-secondary;
        color: $base-color;

        svg {
          fill: $base-color;
        }
      }
    }
  }
}